<div class="flexbox">
  <div class="right_div">
    <div [class.isredbox]="isRed" class="div"></div>
    <div [class.isredbox]="!isRed" class="div"></div>
    <input type="checkbox" [(ngModel)]="isRed" />
  </div>
  <div class="right_div">
    <div
      [style.background-color]="!isGreen ? 'red' : 'green'"
      class="div"
    ></div>
    <div [style.background-color]="isGreen ? 'red' : 'green'" class="div"></div>
    <input type="checkbox" [(ngModel)]="isGreen" />
  </div>
  <div class="right_div">
    <child-comp [userName]="name" [userAge]="age"></child-comp>
    <input type="text" [(ngModel)]="name" />
    <input type="number" [(ngModel)]="age" />
  </div>
  <div class="right_div">
    <h2>Количество кликов: {{ clicks }}</h2>
    <prechild-comp (onChanged)="onChanged($event)"></prechild-comp>
  </div>
  <div class="right_div">
    <p *ngIf="condition">Привет мир</p>
    <p *ngIf="!condition">Пока мир</p>
    <button (click)="toggle2()">Toggle</button>
  </div>
  <div class="right_div">
    <p *while="condition2">Первый параграф</p>
    <p *while="!condition2">Второй параграф</p>
    <button (click)="toggle3()">Toggle</button>
  </div>
</div>
<div class="page-header">
  <h1>Список покупок</h1>
</div>
<div class="panel">
  <div class="form-inline">
    <div class="form-group">
      <div class="col-md-8">
        <input class="form-control" [(ngModel)]="text" placeholder="Название" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-6">
        <input
          type="number"
          class="form-control"
          [(ngModel)]="price"
          placeholder="Цена"
        />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-8">
        <button class="btn btn-default" (click)="addItem(text, price)">
          Добавить
        </button>
      </div>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Предмет</th>
        <th>Цена</th>
        <th>Куплено</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.purchase }}</td>
        <td>{{ item.price }}</td>
        <td><input type="checkbox" [(ngModel)]="item.done" /></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="flexbox">
  <div class="right_div">
    <simple-comp [newname]="newname"></simple-comp>
    <input type="text" [(ngModel)]="newname" />
    <input type="number" [(ngModel)]="newage" />
  </div>
  <div class="right_div">
    <p #userName2>{{ newnameagain }}</p>
    <!--Тут показана шаблонная переменная (действие показано в работе приложения)-->
    <p>{{ userName2.textContent }}</p>
    <input type="text" [(ngModel)]="newnameagain" />
  </div>
  <div class="right_div">
    <h1>AppModule</h1>
    <data-comp></data-comp>
  </div>
  <div
    [class.invisible]="visibility"
    class="right_div"
    [ngStyle]="{ 'font-size': '13px', 'font-family': 'Verdana' }"
  >
    <!--Показано как можно с помощью директивы ngStyle прописывать стили-->
    <h1>Hello Angular 13</h1>
    <p
      bold="28px"
      defaultSize="14px"
      [ngStyle]="{ 'font-size': '14px', 'font-family': 'Segoe Print' }"
    >
      Angular 13 представляет модульную архитектуру приложения
    </p>
  </div>
  <button (click)="toggle()">Toggle</button>
</div>
